@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

html,
body {
  height: 100%;
}

body {
  background-color: #f7f6f9;
  width: fit-content;
}

.full-ht {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 61px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}

label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 5px 0 10px 0;
  padding: 5px;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: 1px solid #000;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #000;
}

th,
td {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 15px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.self-end {
  align-self: flex-end;
}

.column {
  flex-direction: column;
}

.phone-form {
  /* max-width: 340px; */
  max-width: 430px;
  margin: auto;
  padding: 15px;
}

.phone-list {
  margin: 50px auto;
  text-align: center;
}

.section-cont {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: auto;
}
.section-left {
  padding-right: 2rem;
  border-right: 1px solid #d8d8d8;
}

.form-edit {
  margin-top: 0.8rem !important;
  padding: 0 0.8rem;
}

.pn-btn-danger {
  background-color: #df4b55;
  color: white;
}
.pn-btn-success {
  background-color: #4cb972;
  color: white;
}
.btn:hover {
  color: white !important;
}

/* Data table styles */
.fuBVgf {
  height: 18rem !important;
  overflow-y: auto !important;
}

/* Modal styles */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgb(54 54 54 / 58%) !important;
}

.modal-header {
  padding-bottom: 0.5rem !important;
  padding-top: 0 !important;
}

.modal-content.border {
  border: 0 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cdcdcd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

/* Media querys */
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .section-cont {
    width: 70rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
